@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;0,1000;1,1000&display=swap");
body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, rgba(231, 246, 248, 0.418) 35%, rgb(202, 234, 253) 70%);
}

/******Margen******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******Header******/
header {
  background-color: rgb(66, 66, 66);
  padding: 12px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: sticky;
}

header img {
  height: 140px;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
}

header nav ul li {
  margin: 10px;
  align-items: end;
  display: flex;
  justify-content: end;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(52, 130, 219);
  font-size: 25px;
  margin: 10px;
  display: flex;
}

header nav ul li a:hover {
  color: rgb(253, 253, 253);
}

/******Carrusel******/
.bienestar {
  text-align: center;
  color: rgb(66, 66, 66);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bienestar h1 {
  font-size: 55px;
}

.it {
  background-color: rgb(52, 130, 219);
  padding-top: 50px;
  padding-bottom: 50px;
}

.it2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin: 20px;
}

.it2 li {
  list-style: none;
}

.it2 li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 30px;
}

.animals {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.clinica h2 {
  text-align: center;
  color: rgb(66, 66, 66);
  font-size: 55px;
}

.parrafo {
  color: rgb(66, 66, 66);
  font-size: 25px;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.quienes {
  display: flex;
  Justify-content: Space-evenly;
  padding-top: 80px;
  padding-bottom: 150px;
}

.eje {
  display: flex;
}

.img {
  height: 700px;
}

.somos {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 50px;
  height: 700px;
  width: 700px;
  Justify-content: Space-evenly;
  gap: 25px;
}

.somos h3 {
  color: rgb(66, 66, 66);
}

.parrafo2 {
  font-size: 25px;
  color: rgb(52, 130, 219);
}

.familia {
  background-color: aliceblue;
  text-align: center;
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-top: 40px;
}

.fami {
  font-size: 55px;
}

.tarjetas {
  display: flex;
  background-color: aliceblue;
  height: 870px;
}

.card-groupe {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  height: 200px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-align: center;
  unicode-bidi: isolate;
}

.cards {
  background-clip: border-box;
  background-color: aliceblue;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1px;
  border-left-color: rgb(112, 110, 110);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(112, 110, 110);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: aliceblue;
  border-top-style: solid;
  border-top-width: 10px;
  box-sizing: border-box;
  color: rgb(253, 253, 253);
  display: flex;
  flex-basis: 0%;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 450;
  height: 840px;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-width: 0px;
  overflow-wrap: break-word;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  position: relative;
  text-align: center;
}

.card-titlee {
  box-sizing: border-box;
  color: rgb(52, 130, 219);
  display: block;
  font-size: 34px;
  font-weight: 500;
  height: 60px;
  line-height: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 20px;
  text-align: start;
  unicode-bidi: isolate;
  width: 670px;
}

.card-texte {
  box-sizing: border-box;
  color: rgb(66, 66, 66);
  display: block;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  font-weight: 450px;
  height: 30px;
  line-height: 24px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 35px;
  text-align: start;
  unicode-bidi: isolate;
  text-align: left;
}

.amor {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-top: 180px;
  padding-bottom: 180px;
}

.juntos {
  display: flex;
  background-color: aliceblue;
  color: rgb(66, 66, 66);
  font-size: 30px;
  padding-top: 180px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 180px;
  text-align: center;
}

/******Productos******/
.calidad {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding-top: 150px;
  padding-bottom: 160px;
}

.calidadh {
  font-size: 55px;
  color: rgb(52, 130, 219);
}

.calidadp {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
  color: rgb(66, 66, 66);
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.farmapet {
  display: flex;
  padding-top: 150px;
  padding-bottom: 100px;
}

.parasi {
  display: flex;
  flex-direction: column;
  background-color: rgba(16, 187, 187, 0.897);
  height: 490px;
  width: 320px;
  margin-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.escudo {
  background-image: 40px;
  padding-top: 110px;
}

.parri {
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  padding-top: 30px;
}

.parasit {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(16, 187, 187, 0.897);
  height: 490px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 140px;
  margin-top: 40px;
}

.hp {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 40px;
  color: rgba(16, 187, 187, 0.897);
}

.parra {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 15px;
  color: rgba(16, 187, 187, 0.897);
}

.virus {
  display: flex;
  flex-direction: column;
  background-color: rgba(145, 58, 137, 0.897);
  height: 490px;
  width: 320px;
  margin-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.vr {
  padding-top: 110px;
  background-image: 40px;
}

.viru {
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.virus1 {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(145, 58, 137, 0.897);
  height: 490px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 140px;
  margin-top: 40px;
}

.hv {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  color: rgba(145, 58, 137, 0.897);
  font-size: 40px;
}

.parrav {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 15px;
  color: rgba(145, 58, 137, 0.897);
}

.oftal {
  display: flex;
  flex-direction: column;
  background-color: rgba(85, 88, 88, 0.897);
  height: 490px;
  width: 320px;
  margin-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.of {
  background-image: 40px;
  padding-top: 110px;
}

.oftal1 {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(85, 88, 88, 0.897);
  height: 490px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 140px;
  margin-top: 40px;
}

.parrao {
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  padding-top: 30px;
}

.ho {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(85, 88, 88, 0.897);
  font-size: 40px;
}

.parrao1 {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 15px;
  color: rgba(85, 88, 88, 0.897);
}

.farma {
  padding-left: 25px;
  padding-right: 25px;
}

.farma1 {
  padding-top: 100px;
}

.articulacion {
  display: flex;
  flex-direction: column;
  background-color: rgba(39, 145, 104, 0.897);
  height: 490px;
  width: 320px;
  margin-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.arti {
  background-image: 40px;
  padding-top: 110px;
}

.articulo {
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  padding-top: 30px;
}

.articu1 {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(39, 145, 104, 0.897);
  height: 490px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 140px;
  margin-top: 40px;
}

.ha {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgba(39, 145, 104, 0.897);
  font-size: 40px;
}

.parraa1 {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 15px;
  color: rgba(39, 145, 104, 0.897);
}

.intestino {
  display: flex;
  flex-direction: column;
  background-color: rgba(151, 17, 46, 0.897);
  height: 490px;
  width: 320px;
  margin-left: 140px;
  margin-top: 40px;
  align-items: center;
}

.int {
  padding-top: 110px;
  background-image: 40px;
}

.intes {
  display: flex;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 34px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.instes1 {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 8px;
  border-color: rgba(151, 17, 46, 0.897);
  height: 490px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 140px;
  margin-top: 40px;
}

.hi {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-left: 15px;
  color: rgba(151, 17, 46, 0.897);
  font-size: 40px;
}

.parrai {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 15px;
  color: rgba(151, 17, 46, 0.897);
}

/******Clinica******/
.clinicax2 {
  background-color: rgb(52, 130, 219);
  height: 350px;
  background-image: url(../img/pyg.png);
  background-repeat: no-repeat;
  background-position-x: 80%;
}

.cajac {
  display: flex;
  flex-direction: column;
}

.clinih {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 75px;
  margin-left: 50px;
  width: 50%;
  font-size: 55px;
  color: rgb(255, 255, 255);
}

.cliniip {
  color: rgb(255, 255, 255);
  width: 50%;
  font-size: 25px;
  display: flex;
  text-align: center;
  margin-bottom: 75px;
  margin-top: 15px;
  margin-left: 45px;
}

.contigo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(63, 71, 71);
  height: 450px;
  border-radius: 0 0 225px 225px;
  margin-bottom: 200px;
}

.yoyo {
  padding: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contigo1 {
  padding-top: 35px;
  font-size: 25px;
  color: aliceblue;
}

.slider-box {
  display: flex;
  Justify-content: Space-evenly;
  align-items: center;
  background-image: url(../img/fondo.jpg);
  height: 500px;
  margin-bottom: 200px;
}

.imgi {
  padding-right: 65px;
}

.carrusell {
  display: flex;
  flex-wrap: nowrap;
}

.elemento {
  flex: 1 0 auto;
  margin: 0 50px;
}

.elemento img {
  width: 500px;
  height: 350px;
}

/******video******/
.vidio {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  margin: 160px;
}

.vidiod {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.vidioh {
  font-size: 55px;
  color: rgb(63, 71, 71);
}

.vidioh3 {
  font-size: 40px;
  color: rgb(52, 130, 219);
  padding-top: 80px;
}

.vidiop {
  font-size: 25px;
  color: rgb(63, 71, 71);
  padding-top: 80px;
}

/******Cirugia******/
.cirugia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-image: url(../img/cirugia.jpg);
  background-repeat: round;
}

.cirugia01 {
  font-size: 55px;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-bottom: 25px;
}

.cirugia1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.slider-box2 {
  display: flex;
  Justify-content: Space-evenly;
  align-items: center;
  background-color: aliceblue;
  height: 500px;
  margin-bottom: 200px;
}

/******Especialidades******/
.trauma {
  background-color: rgb(52, 130, 219);
  display: flex;
  Justify-content: Space-evenly;
  align-items: center;
  height: 650px;
}

.trauma1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  padding-top: 25px;
  height: 300px;
  width: 30%;
  text-align: left;
  color: rgb(63, 71, 71);
}

.trauma2 {
  color: aliceblue;
  font-size: 55px;
  padding-bottom: 15px;
}

.trauma3 {
  font-size: 25px;
}

.trauma01 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  height: 350px;
  width: 18%;
  text-align: left;
  color: rgb(63, 71, 71);
}

.trauma03 {
  height: 500px;
}

.trauma02 {
  font-size: 25px;
}

.slider-frame {
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
  animation: slide 15s infinite;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 500%;
}

.slider.frame li {
  list-style: none;
  width: 100%;
}

.slider-frame img {
  width: 100%;
}

/******Contactos******/
.kjh {
  background-color: rgb(255, 255, 255);
  display: flex;
  Justify-content: Space-evenly;
  align-items: center;
}

.hgf {
  width: 50%;
  height: 350px;
  padding-left: 30px;
}

.contactos {
  background-image: url(../img/varios.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  background-repeat: round;
}

.texcontacto {
  font-size: 90px;
  color: rgb(52, 130, 219);
  text-align: center;
}

.contacot-seccion {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.contacto-uno {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(63, 71, 71);
  font-size: 40px;
  padding: 35px;
}

.contacto-uno h2 {
  color: rgb(52, 130, 219);
  margin-bottom: 15px;
}

.siguenos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(52, 130, 219);
  font-size: 35px;
  margin: 40px;
}

.contacto-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 214, 214);
  width: 70px;
  height: 65px;
  margin: 10px;
}

.redes {
  display: flex;
  flex-direction: row;
}

.contacto-cuatro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(52, 130, 219);
  font-size: 35px;
  margin: 40px;
}

.contacto-cuatro p {
  color: rgb(63, 71, 71);
}

.container h3 {
  display: flex;
  font-size: 35px;
  color: rgb(52, 130, 219);
}

.container {
  max-width: 40%;
  width: 100%;
  padding: 65px 30px 10px 0px;
  border-radius: 15px;
}

.container h3 {
  font-size: 35px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  color: rgb(63, 71, 71);
}

.container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 12px 0;
  padding-bottom: 35px;
}

form .form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.form-group input {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(228, 226, 226);
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.cuesti {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(192, 192, 192);
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group input:valid {
  border-color: rgb(167, 165, 165);
}

.form-group textarea:focus,
.form-group textarea:valid {
  border-color: rgb(167, 165, 165);
}

.form-group select:focus,
.form-group select:valid {
  border-color: rgb(167, 165, 165);
}

form .submit {
  width: 100px;
  height: 40px;
  margin: 40px 0;
}

form .vvv {
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(141, 127, 155, 0.418) 35%, rgb(180, 187, 190) 70%);
  color: rgb(52, 130, 219);
  font-size: 15px;
  font-weight: 500px;
  border: none;
  border-radius: 5px;
}

/******Footer******/
.footer {
  position: relative;
  width: 100%;
  background-color: rgb(66, 66, 66);
  min-height: 15px 20px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sera {
  display: flex;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.social-icon {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-elem {
  list-style: none;
}

.icon {
  display: flex;
  color: aliceblue;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: white;
  font-size: 22px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}

/*# sourceMappingURL=styles.css.map */
